.main{
    background-color:rgb(36, 128, 182);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside{
    background-color:rgb(97, 197, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}