@media (max-width: 481px){
    .grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(100px, auto);
      grid-template-areas: 
      "header header header "
      "main  main main "
      "main  main main "
      "main  main main "
      "aside  aside aside "
      "nav nav nav "
      "footer footer footer ";
    }
    
  
}
  
  
    